body {
  font-family: 'IBM Plex Mono', monospace;
  width: 100vw;
  margin: 0;
  padding: 0;
}
.scroll-off {
  overflow: hidden;
}
.scroll-on {
  overflow: visible;
}
li {
  list-style-type: none;
}
.display-none {
  display: none;
}
/************************************************/
/************** full-screen header **************/
/************************************************/
header {
  color: white;
}
.header-container-full {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 110vh;
  margin: 0;
  padding: 0;
  background-image: url(../background-images/vs-dark.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.header-text-full {
  padding-top: 40vh;
}
.name-text-full {
  font-size: 36pt;
  font-weight: 200;
  padding: 0;
  margin: 0;
}
#job-text {
  text-align: center;
  font-size: 14pt;
  font-weight: 400;
  padding: 0;
  margin: 0;
}
.scroll-link {
  margin-top: 20vh;
  text-decoration: none;
  color: #6cc644;
  font-size: 14pt;
  font-weight: 400;
}
/************************************************/
/**************** pinned header *****************/
/************************************************/
.header-pin {
  transition: 0.2s;
  position: fixed;
  top: 0;
  height: 60px;
  flex-direction: row;
  justify-content: space-between;
}
.header-text-pin {
  padding-top: 0;
  margin-left: 3vw;
}
.name-text-pin {
  display: inline-block;
  font-size: 24pt;
  font-weight: 200;
}
.icon-cont-pin {
  margin-left: 20px;
  padding-top: 4px;
  display: inline-block;
}
.icon-image {
  padding: 0;
  margin: 0 5px;
  width: 27px;
}
.icon-href {
  text-decoration: none;
  width: 27px;
  height: 27px;
}
.barlink-pin {
  color: white;
  font-size: 14pt;
  font-weight: 400;
  margin-right: 20px;
  text-decoration: none;
}
.navbar-pin {
  display: flex;
  flex-direction: row;
  margin-right: 24px;
  margin-top: 0;
  margin-left: 0;
  transition: 0.2s;
}
.navbar-mobile {
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
  width: 150px;
  margin-top: 134px;
  position: fixed;
  right: 0;
}
.mobile-link {
  color: white;
  font-size: 14pt;
  font-weight: 400;
  margin-right: 20px;
  text-decoration: none;
}

/************************************************/
/************************************************/
/************************************************/
/******************* main ***********************/
/************************************************/
/************************************************/
/************************************************/
main {
  padding-top: 10px;
}
.main-section {
  width: 90vw;
  margin: auto;
  min-height:100vh;
  padding-top: 70px;
}
.heading {
  font-size: 19pt;
  font-weight: 400;
}
#project-container {
  display: flex;
  flex-flow: row wrap;
  width: 96vw;
  margin-left: -2vw;
}
.project-tile {
  max-width: 300px;
  max-height: 300px;
  margin: 10px;
}
.project-tile:hover {
  transform: scale(1.0175);
}
.project-img {
  max-width: 300px;
  max-height: 300px;
}

/**************************************/
/*************** footer ***************/
/**************************************/
footer {
  text-align: center;
  padding-bottom: 20px;
}
a {
  color: #6e5494;
}
a:hover {
  color: #6cc644;
}

/**************************************/
/*************** @media ***************/
/**************************************/
@media (max-width: 1334px) {
  .project-tile {
    width: 22vw;
    height: 22vw;
    max-width: 300px;
    max-height: 300px;
  }
  .project-img {
    width: 22vw;
    height: 22vw;
    max-width: 300px;
    max-height: 300px;
  }
}
@media (max-width: 1000px) {
  .project-tile {
    width: 29vw;
    height: 29vw;
    max-width: 300px;
    max-height: 300px;
    margin: 10px;
  }
  .project-img {
    width: 29vw;
    height: 29vw;
    max-width: 300px;
    max-height: 300px;
  }
}
@media (max-width: 820px) {
  .name-text-pin {
    margin: 10px 0px 0px 0px;
    font-size: 18pt;
  }
  .icon-cont-pin {
    margin-left: 0px;
    padding-top: 8px;
  }
  .icon-href {
    width: 2px;
    height: 20px;
  }
  .icon-image-pin {
    padding: 0;
    margin: 0 5px;
    width: 20px;
  }
}
@media (max-width: 740px){
  #navbar-desktop {
    display: none;
  }
}
@media (max-width: 666px) {
  .project-tile {
    width: 43vw;
    height: 43vw;
    margin: 10px;
  }
  .project-img {
    width: 43vw;
    height: 43vw;
  }
}
@media (max-width: 465px) {
  .name-text-full {
    font-size: 24pt;
  }
}
@media (max-width: 399px) {
  .project-tile {
    width: 46vw;
    height: 46vw;
    margin: 5px;
  }
  .project-img {
    width: 46vw;
    height: 46vw;
  }
  #project-container {
    width: 98vw;
    margin: 0 1vw 0 1vw;
    display: flex;
    flex-flow: row wrap;
  }
  .name-text-pin {
    display: none;
  }
}

/**************** Menu Icon *************/
