html {
  font-family: 'Open Sans', sans-serif;
}
body {
  margin: 0;
}

header {
  text-align: center;
  background: darkorchid;
  max-height: 111px;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Caveat', cursive;
  margin: 0;
  padding: 0;
}

.container {
  padding: 10px;
  background: dodgerblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#img-div {
  text-align: center;
  padding: 0;
  margin: 0;
  font-style: italic;
  font-size: smaller;
}
#image {
  width: 40vw;
  min-width: 216px;
  max-width: 500px;
  border-radius: 4px;
}
h2 {
  font-size: 18px;
}


.chunk {
  margin: 10px;
  padding: 0px 20px 0px 20px;
  width: 80%;
  border-radius: 4px;
  background-color: #a4ffe3;
}

footer {
  background: orange;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer-content {
  margin: 10px;
}


@media (min-width: 1250px) {
  h1 {
    font-size: 88px;
  }
}
@media (max-width: 1249px) {
  h1 {
    font-size: 7vw;
}
@media (max-width: 653px) {
  footer {
    flex-direction: column;
    align-items: center;
    padding: 5px;
  }
  .footer-content {
    margin: 5px;
  }
}
@media (max-width: 550px) {
  h1 {
    font-size: 38px;
  }
}