body {
    font-family: 'Quicksand', sans-serif;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: #101115;
    color: #ffffff;
}
h1 {
    font-size: 24pt;
    font-weight: 200;
    margin: 0 30px;
    padding: 0;
}
h2 {
    font-size: 18pt;
    font-family: 'Montserrat', monospace;
}
a:hover {
    cursor: pointer;
}
ul, li {
    list-style-type: none;
}


/**** header ****/
header {
    font-family: 'Montserrat', monospace;
    z-index: 10;
    top: 0;
    position: fixed;
    height: 60px;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-image: url(background-images/vs-dark2.jpg);
    background-size: cover;
    background-attachment: fixed;
}

    #header-main-cont {
        margin-left: 40px;
        display: flex;
        flex-flow: row nowrap;
        min-width: 1000px;
    }


    #nav-list {
        display: flex;
        flex-flow: row nowrap;
        margin: 0 24px 0 0;
    }
    .nav-link {
        font-size: 14pt;
        font-weight: 400;
        margin: 0 20px 0 0;
        text-decoration: none;
        color: #ffffff;
    }
    .nav-link:hover {
        color: #6cc644;
    }


/**** main ****/
main {
    margin: 0 30px;
}

.main-cont {
    height: 100vh;
    padding-top: 60px;
}

#projects-container {
    display: flex;
    flex-flow: row wrap;
}
.project-img {
    max-width: 280px;
    max-height: 280px;
    margin: 15px;
    border-radius: 6px;
}