body {
  font-family: 'IBM Plex Mono', monospace;
  width: 100vw;
  margin: 0;
  padding: 0;
}
a:hover {
  cursor: pointer;
}
.scroll-off {
  overflow: hidden;
}
.scroll-on {
  overflow: visible;
}
.navList {
  list-style-type: none;
}
.noShow {
  display: none;
}

/********** welcome page (header-full) ***********/
header {
  font-family: 'IBM Plex Mono', monospace;
  color: white;
  z-index: 1;
}

.headerCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 110vh;
  margin: 0;
  padding: 0;
  background-image: url(background-images/vs-dark2.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.headerMain {
  padding-top: 40vh;
}

.headerTitle {
  font-size: 36pt;
  font-weight: 200;
  padding: 0;
  margin: 0;
}
.headerTitle:hover {
  cursor: pointer;
}

.headerSub {
  text-align: center;
  font-size: 14pt;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.headerIcons {
  margin-left: 20px;
  padding-top: 4px;
  display: inline-block;
}

.nbDesk{
  display: flex;
  flex-direction: row;
  margin-right: 24px;
  margin-top: 0;
  margin-left: 0;
  transition: 0.4s;
}

.nbMobile {
  height: 120px;
  width: 150px;
  margin: 100px 10px 10px 10px;
  position: fixed;
  right: 0;
  background-color: #292b36;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.continueBtn {
  margin-top: 30vh;
  text-decoration: none;
  background-color: transparent;
  border-width: 0;
  color: white;
  font-size: 14pt;
  font-weight: 400;
  position: relative;
}
.continueBtn:hover {
  cursor: pointer;
}
.continueBtn::before, .continueBtn::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #6cc644;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}
.continueBtn::before {
  top: 0;
  transform-origin: center right;
}
.continueBtn:hover::before {
  transform-origin: center left;
  transform: scaleX(1);
}
.continueBtn::after {
  bottom: 0;
  transform-origin: center left;
}
.continueBtn:hover::after {
  transform-origin: center right;
  transform: scaleX(1);
}

.headerIcon {
  padding: 0;
  margin: 0 5px;
  width: 27px;
}
.iconLink {
  text-decoration: none;
  width: 27px;
  height: 27px;
}
.nbLink {
  color: white;
  font-size: 14pt;
  font-weight: 400;
  margin-right: 20px;
  text-decoration: none;
}
.nbLinkMob {
  color: white;
  font-size: 14pt;
  font-weight: 400;
  text-decoration: none;
}

/*** shrink clases ***/
.headerCont-shrink {
  top: 0;
  position: fixed;
  height: 60px;
  flex-direction: row;
  justify-content: space-between;
  transition: 0.4s;
}
.headerMain-shrink {
  padding-top: 0;
  margin-left: 3vw;
}
.headerTitle-shrink {
  display: inline-block;
  font-size: 24pt;
  font-weight: 200;
}


/*************** main *****************/
main {
  padding-top: 10px;
}
.main-section {
  width: 90vw;
  margin: auto;
  min-height:100vh;
  padding-top: 90px;
}
.heading {
  font-size: 19pt;
  font-weight: 400;
}
#about-container {
  display: flex;
  flex-flow: row none;
  justify-content: space-between;
  padding-top: 20px;
}
#about-summary {
  width: 64vw;
  font-family: 'Roboto', sans-serif;
  line-height: 150%;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#technologies {
  width: 20vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.centerAlign {
  align-self: center;
}
.headshot {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border-style: solid;
  border-width: 6px;
  border-color: #292b36;
}
.techIcn {
  margin: 10px;
  display: block;
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
}
.aboutListCont {
  margin: 0 0 0 40px;
  padding: 0;
}
.aboutList {
  min-width: 160px;
}
#project-container {
  display: flex;
  flex-flow: row wrap;
  width: 96vw;
  margin-left: -2vw;
  margin-top: 30px;
}
.project-tile {
  max-width: 300px;
  max-height: 300px;
  margin: 10px;
}
.project-tile:hover {
  transform: scale(1.0175);
}
.project-img {
  max-width: 300px;
  max-height: 300px;
}


/*************** footer ***************/
footer {
  text-align: center;
  padding-bottom: 20px;
}
a {
  color: #6e5494;
}
a:hover {
  color: #6cc644;
}


/*************** @media ***************/
@media (max-width: 1334px) {
  .project-tile {
    width: 22vw;
    height: 22vw;
    max-width: 300px;
    max-height: 300px;
  }
  .project-img {
    width: 22vw;
    height: 22vw;
    max-width: 300px;
    max-height: 300px;
  }
}
@media (max-width: 1000px) {
  .project-tile {
    width: 29vw;
    height: 29vw;
    max-width: 300px;
    max-height: 300px;
    margin: 10px;
  }
  .project-img {
    width: 29vw;
    height: 29vw;
    max-width: 300px;
    max-height: 300px;
  }
}
@media (max-width: 820px) {
  .headerTitle-shrink {
    margin: 10px 0px 0px 0px;
    font-size: 18pt;
  }
  #headerIcons {
    margin-left: 0px;
    padding-top: 8px;
  }
  .iconLink {
    width: 2px;
    height: 20px;
  }
  .headerIcon {
    padding: 0;
    margin: 0 5px;
    width: 20px;
  }
}
@media (max-width: 740px){
  #nbDesk {
    display: none;
  }
}
@media (min-width: 740px) {
  .nbMobile {
    display: none;
  }
}
@media (max-width: 666px) {
  .project-tile {
    width: 43vw;
    height: 43vw;
    margin: 10px;
  }
  .project-img {
    width: 43vw;
    height: 43vw;
  }
}
@media (max-width: 465px) {
  .headerTitle-full {
    font-size: 24pt;
  }
}
@media (max-width: 399px) {
  .project-tile {
    width: 46vw;
    height: 46vw;
    margin: 5px;
  }
  .project-img {
    width: 46vw;
    height: 46vw;
  }
  #project-container {
    width: 98vw;
    margin: 0 1vw 0 1vw;
    display: flex;
    flex-flow: row wrap;
  }
  .headerTitle-full {
    display: none;
  }
}
