body {
  font-family: 'Open Sans', sans-serif;
  width: 100vw;
}
h1, h2 {
  font-family: 'IBM Plex Mono', monospace;
}
header {
  width: 86vw;
  margin: auto;
}

main {
  width: 86vw;
  margin: auto;
}

.container {
  margin-top: 50px;
  margin-right: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.project-box {
  margin: .5vw;
}
img {
  width: 20vw;
  height: 20vw;
  max-width: 400px;
  max-height: 400px;
  min-width: 230px;
  min-height: 230px;
}
.project-box:hover {
  transform: scale(1.0175);
}

footer {
  width: 86vw;
  margin: auto;
  margin: 4vh 0 4vh 0;
  text-align: center;
}
a {
  color: #6e5494;
}
a:hover {
  color: #6cc644;
}


@media (max-width: 834px) {
  img {
   width: 25vw;
   height: 25vw;
   min-width: 170px;
   min-height: 170px;
  }
}

@media (max-width: 430px) {
  .container {
    margin-top: 20px;
  }
  img {
    width: 35vw;
    height: 35vw;
    min-width: 128px;
    min-height: 128px;
    margin-right: 2.5vw;;
    margin-bottom: 1.5vw;
    margin-top: 0;
    margin-left: 0;
  }
}