html {
  font-family: 'Open Sans', Helvetica, sans-serif;
  background-color: #f9f9fa;
}

body {
  background-color: lightskyblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
/*********** header ***********/
header {
  background-color: #f9f9fa;
  position: fixed;
  width: 100vw;
  height: 13vh;
  max-height: 110px;
  min-height: 60px;
  padding-top: 5px;
  padding-bottom: 5px;
  top: 0px;
}
#flexible-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  min-width: 990px;
  max-width: 1260px;
  width: 76vw;
  margin: auto;
}
#title-box {
  display: flex;
  flex-direction: row;
  margin: 0;
}
#header-img {
  min-height: 60px;
  max-height: 110px;
  height: 13vh;
  width: auto;
  margin-right: 3vh;
  border-radius: 8px;
}
#titles {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-height: 110px;
}
#main-title {
  font-family: Righteous, Helvetica, monospace;
  font-size: 7vh; 
  display: inline-block;
  margin: 0;
}
#subtitle {
  font-size: 3.5vh;
  display: inline-block;
  margin: 0;
}
/** nav-bar **/
.nav-bar {
  min-width: 300px;
  font-size: 18px;
  align-self: flex-end;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav-link {
  color: #434343;
  text-decoration-line: none;
}
.nav-link:hover {
  color: #900013;
}

/*********** body ***********/

.main {
  padding-top: 120px;
  height: 150vh;
  width: 76vw;
  max-width: 1260px;
  min-width: 990px;
  margin: auto;
}

