body {
  background-color: black;
  color: #E0E0E0;
  font-family: "Inconsolata", monospace;
  font-size: large;
}

header {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  margin: 4vh 0 4vh 0;
  text-align: center;
}
a {
  color: #6e5494;
}
a:hover {
  color: #6cc644;
}

/************* form *************/
form {
  margin-top: 2vh;
}
fieldset {
  display: flex;
  flex-flow: row wrap;
  width: 60vw;
  min-width: 667px;
  margin-bottom: 50px;
  border-color: #80C0C0;
  border-width: 1px;
  border-radius: 0px;
}
legend {
  font-size: 18px;
}
.rfield {
  display: flex;
  flex-direction: column;
  margin: 5px 20px 10px 0px; 
  min-width: 180px;
}
.rad-choice {
  margin: 5px 15px 10px 0px;
}
.checks {
  margin: 5px 15px 10px 0px;
}
.comment-area {
  display: flex;
  flex-direction: column;
}
#submit-button {
  display: block;
  margin-top: 2vh;
  margin-left: 50%;
  margin-right: 50%;
}


/*************** media ***************/
@media (max-width: 1168px) {
  #number-label {
    margin-right: 0px;
  }
}

@media (max-width: 777px) {
  fieldset {
    width: 85vw;
    min-width: 250px;
  }
}

@media (max-width: 753px) {
  .comment-area {
    max-width: 500px;
  }
}



