/****************** site-wide rules ******************/
html {
    scroll-behavior: smooth;
	width: 100vw;
	border-top: 5px solid #952bb9;
}

body {
    font-family: 'Inter var', sans-serif;
	font-weight: 400;
    width: 70vw;
    margin: auto;
    padding: 0;
    color: #101115;
    background-color: #ffffff;
}

h1 {
	font-size: 2rem;
	margin: 0;
	padding: 0;
}

h2 {
	font-family: 'Metropolis', monospace;
	font-size: 4rem;
    font-weight: 700;
    margin: 0;
	padding: 0;
}

.moz-btn {
	z-index: 200;
	text-decoration: none;
	border: 2px solid #101115;
	border-radius: 2px;
	transition: background-color 100ms, box-shadow 100ms, color 100ms, transform 100ms;
	transition-property: background-color, box-shadow, color, transform;
	transition-duration: 100ms, 100ms, 100ms, 100ms;
	transition-timing-function: ease, ease, ease, ease;
	transition-delay: 0s, 0s, 0s, 0s;
}

.moz-btn:hover {
	transform: translate(-2px, -2px);
	color: #101115;
	background-color: #ffffff;
	box-shadow: 4px 4px 0 0 #101115;
	cursor: pointer;
}

.moz-prim {
	position: fixed;
	top: 14px;
	right: 14vw;
	font-size: 14pt;
	padding: 6px 14px;
	color: #ffffff;
	background-color: #101115;
}

.moz-sec {
	display: inline-block;
	background-color: #fff;
	color: #101115;
	font-size: 16pt;
	padding: 14px 30px;
}

.moz-dark {
	background-color: #fff;
	color: #101115;
	border-color: #fff;
}

.moz-dark:hover {
	background-color: #101115;
	color: #fff;
	box-shadow: 4px 4px 0 0 #fff;
}



/**************** header ********************/
header {
	font-family: 'Metropolis', monospace;
	color: #101115;
    height: 60px;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}



/************* about section ************/
.about-section {
	height: calc(100vh - 95px);
}

.about-title {
	padding-top: 30vh;
}

.about-text {
	font-size: 1.7rem;
	font-weight: 300;
	margin-bottom: 80px;
}



/************* tools section *****************/
.tools-wrapper {
	width: calc(100vw - 5px);
	margin-left: -15vw;
	background-color: #101115;
	color: #ffffff;
	border-left: 5px solid #ff5e5f;
}

.tools-section {
	width: 70vw;
	min-height: 250px;
	margin: auto;
	padding: 20px 0;
}

.tools-title {
	font-weight: 600;
	padding-top: 20px;
}

.skill-list {
	list-style-type: none;
	font-weight: 300;
	font-size: 1.5rem;
	display: flex;
	flex-wrap: wrap;
	margin-left: -35px;
}

.skill-list li {
	white-space: nowrap;
	padding: 20px 35px;
}



/*************** projects section ************/
.portfolio-wrapper {
	padding-top: 6vh;
	width: calc(100vw - 5px);
	margin-left: -15vw;
	border-left: 5px solid #3fe1b0;
}

.portfolio-section {
	min-height: 100vh;
	width: 70vw;
	margin: auto;
}

.portfolio-title {
	padding-top: 14px;
}

.projects-container {
    display: flex;
    flex-flow: row wrap;
	margin-top: 5vh;
}

.p-link {
	text-decoration: none;
	padding: 0;
	margin: 1px;
}

.card-initial {
	height: 346px;
	width: 586px;
}

.card-hover {
	display: none;
	background-color: #101115;
	height: 346px;
	width: 586px;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 2s;
	transition-delay: 1s;
	transition-timing-function: ease-out;
}

.card-hover h3 {
	z-index: 100;
	font-size: 1.7rem;
	font-weight: 700;
	background-color: #fff;
	color: #101115;
	padding: 4% 0;
	margin: 0;
	width: 100%;
	text-align: center;
}

.tech-list {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 586px;
	padding: 10px;
}

.tech-list li {
	z-index: 99;
	padding: 10px 15px;
	margin: 10px;
	background-color: #fff;
	color: #101115;
	border-radius: 2px;
}

.p-link:hover .card-initial {
	display: none;
}

.p-link:hover .card-hover {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	opacity: 1;
}


/************ initial cards ***********/

/** Bubblegum.ai Product Page **/
.c-i_bi {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #190b28;
	/*background: linear-gradient(153deg, rgba(25, 11, 40, 1) 45%, rgba(235, 212, 203, 1) 45%);*/
}
.img-bi {
	max-height: 300px;
}


/** Count My Beans **/



/*************** contact section ***************/
.contact-section {
	height: 100vh;
}