/****************** site-wide rules ******************/
html {
  scroll-behavior: smooth;
	width: 100vw;
	border-top: 5px solid #952bb9;
}

body {
	font-family: 'Inter var', sans-serif;
	font-weight: 400;
	width: 70vw;
	margin: auto;
	padding: 0;
	color: #101115;
	background-color: #ffffff;
}

h1 {
	font-size: 2rem;
	margin: 0;
	padding: 0;
}

h2 {
	font-family: 'Metropolis', monospace;
	font-size: 4rem;
	font-weight: 700;
	margin: 0;
	padding: 0;
}

.moz-btn {
	z-index: 200;
	text-decoration: none;
	border: 2px solid #101115;
	border-radius: 2px;
	transition: background-color 100ms, box-shadow 100ms, color 100ms, transform 100ms;
	transition-property: background-color, box-shadow, color, transform;
	transition-duration: 100ms, 100ms, 100ms, 100ms;
	transition-timing-function: ease, ease, ease, ease;
	transition-delay: 0s, 0s, 0s, 0s;
}

.moz-btn:hover {
	transform: translate(-2px, -2px);
	color: #101115;
	background-color: #ffffff;
	box-shadow: 4px 4px 0 0 #101115;
	cursor: pointer;
}

.moz-prim {
	position: fixed;
	top: 14px;
	right: 14vw;
	font-size: 14pt;
	padding: 6px 14px;
	color: #ffffff;
	background-color: #101115;
}

.moz-sec {
	display: inline-block;
	background-color: #fff;
	color: #101115;
	font-size: 16pt;
	padding: 14px 30px;
}

.moz-dark {
	background-color: #fff;
	color: #101115;
	border-color: #fff;
}

.moz-dark:hover {
	background-color: #101115;
	color: #fff;
	box-shadow: 4px 4px 0 0 #fff;
}



/**************** header ********************/
header {
	font-family: 'Metropolis', monospace;
	height: 60px;
	padding: 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}



/************* about section ************/
.about-section {
	height: calc(100vh - 95px);
}

.about-title {
	padding-top: 30vh;
}

.about-text {
	font-size: 1.7rem;
	font-weight: 300;
	margin-bottom: 80px;
}



/************* tools section *****************/
.tools-wrapper {
	width: calc(100vw - 5px);
	margin-left: -15vw;
	background-color: #101115;
	color: #ffffff;
	border-left: 5px solid #ff5e5f;
}

.tools-section {
	width: 70vw;
	min-height: 250px;
	margin: auto;
	padding: 20px 0;
}

.tools-title {
	font-weight: 600;
	padding-top: 20px;
}

.skill-list {
	list-style-type: none;
	font-weight: 300;
	font-size: 1.5rem;
	display: flex;
	flex-wrap: wrap;
	margin-left: -35px;
}

.skill-list li {
	white-space: nowrap;
	padding: 20px 35px;
}



/*************** projects section ************/
.portfolio-wrapper {
	padding: 6vh 0;
	width: calc(100vw - 5px);
	margin-left: -15vw;
	border-left: 5px solid #3fe1b0;
}

.portfolio-section {
	width: calc(100vw - 5px);
	margin: auto;
}

.portfolio-title {
	padding: 14px 0 30px calc(15vw - 5px);
}

.projects-container {
  display: flex;
	flex-flow: column nowrap;
	align-items: center;
	width: 70vw;
	margin: auto;
}

.project-card {
	width: calc(100% - 20px);
	/* height: 75vh; */
	box-shadow: 0 0 0 4px #ededf0;
	border-radius: 4px;
	margin: 20px 0;
	padding: 10px;
	display: flex;
	transition: box-shadow 100ms ease-out 0s;
}

.project-card:hover {
	box-shadow: 0 0 0 4px rgba(57,160,237,1.0);
}

.project-card:first-of-type {
	margin-top: 0;
}

.card-txt {
	flex-grow: 2;
	position: relative;
	margin: 10px;
}

.project-card h2 {
	font-size: 26pt;
}

.project-card h3 {
	font-family: 'Metropolis', sans-serif;
	font-size: 20pt;
	font-weight: 600;
	margin: 8px 0;
}

.project-card h4 {
	font-size: 14pt;
	margin-bottom: 0;
	font-weight: 500;
}

.project-card p {
	font-size: 14pt;
	font-weight: 300;
	line-height: 1.4;
	margin: 0 0 30px 0;
}

.problem {
	font-weight: 500;
}

.project-card ul {
	margin: 0;
	list-style-type: none;
	padding-left: 20px;
}

.project-card ul li {
	margin: 6px;
	font-size: 14pt;
	font-weight: 300;
}

.button-cont {
	display: flex;
	flex-flow: row nowrap;
	align-items: baseline;
	justify-content: space-between;
	margin-top: 30px;
	width: 150px;
}

.card-link {
	padding: 0;
	margin: 0;
	position: relative;
}

.link-btn {
	height: 48px;
}

.scrn-btn {
	height: 44px;
	padding-bottom: 3px;
}

.github-btn {
	height: 40px;
	margin: 0;
	padding: 5px;
}

.scrn-btn:hover, .link-btn:hover, .github-btn:hover {
	fill: #3fe1b0;
	cursor: pointer;
}


.card-img {
	min-width: 300px;
	max-height: 700px;
	height: 100%;
	padding: 0;
	border-radius: 4px;
	box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);
}

.tooltip {
	visibility: hidden;
	width: 120px;
	background-color: rgb(55,55,55);
	color: #fff;
	text-align: center;
	border-radius: 2px;
	padding: 6px 8px;
	position: absolute;
	z-index: 10;
	bottom: 125%;
	left: 50%;
	margin-left: -68px;
	font-size: 11pt;
}



.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(55,55,55) transparent transparent transparent;
}

#link-btn-0:hover #link-tooltip-0, #scrn-btn-0:hover #scrn-tooltip-0, #git-btn-0:hover #git-tooltip-0, #link-btn-1:hover #link-tooltip-1, #scrn-btn-1:hover #scrn-tooltip-1, #git-btn-1:hover #git-tooltip-1, #link-btn-2:hover #link-tooltip-2, #scrn-btn-2:hover #scrn-tooltip-2, #git-btn-2:hover #git-tooltip-2 {
	visibility: visible;
}

li a {
	text-decoration: none;
	color: #000;
}

li a:hover {
	color: #3fe1b0;
}


/*************** contact section ***************/

#head-contact {
	padding-top: 20px;
	margin-left: 15vw;
}

.contact-section {
	min-height: calc(100vh - 5px);
	position: relative;
	border-bottom: 5px solid #39a0ed;
	border-right: 5px solid #39a0ed;
	width: calc(100vw - 5px);
	margin-left: -15vw;
}

.contact-inner {
	width: 100%;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	align-items: center;
	margin-top: 60px;
}

.contact-links {
	min-height: 150px;
	padding-bottom: 40px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: center;
}

.github-text {
	width: 100px;
}

.linkedin-text {
	width: 140px;
	margin-bottom: -4px;
}

.email-text {
	text-decoration: none;
	color: #952bb9;
	font-family: "Metropolis", serif;
	font-size: 1.9rem;
	font-weight: 600;
}


#contact-form ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#contact-form li {
	margin: 40px 0;
}

#contact-form li:first-of-type {
	margin-top: 0;
}

label {
	font-weight: 600;
	font-size: 1.3rem;
	display: block;
}

.contact-input, textarea {
	font-family: "Inter var", sans-serif;
	font-weight: 400;
	color: #101115;
	border: 2px solid #3fe1b0;
	border-radius: 2px;
	display: block;
	transition: background-color 100ms, box-shadow 100ms, color 100ms, transform 100ms;
	transition-property: background-color, box-shadow, color, transform;
	transition-duration: 100ms, 100ms, 100ms, 100ms;
	transition-timing-function: ease, ease, ease, ease;
	transition-delay: 0s, 0s, 0s, 0s;
}

.contact-input {
	font-size: 16pt;
	padding: 14px 20px;
	width: 350px;
	margin-top: 6px;
}

textarea {
	width: 362px;
	height: 150px;
	padding: 14px;
	font-size: 13pt;
	font-weight: 400;
	margin-top: 6px;
}

.email-input:not(:placeholder-shown):not(:focus):invalid {
	border-color: #ff5e5f;
	box-shadow: none;
	transform: none;
}

.contact-input:invalid, textarea:invalid, .contact-input:focus, textarea:focus {
	border-color: #101115;
	transform: translate(-2px, -2px);
	box-shadow: 4px 4px 0 0 #101115;
	outline: none;
}

.submit-btn {
	color: #fff;
	font-family: "Inter var", sans-serif;
	font-weight: 600;
	font-size: 1.2rem;
	padding: 10px 20px;
	border: none;
	border-radius: 2px;
	background-color: #101115;
}

.submit-btn:hover {
	background-color: #3fe1b0;
	cursor: pointer;
}

/* @media (max-width: 1300px) {
	body {
		width: 90vw;
	}
	.tools-wrapper {
		margin-left: -5vw;
	}
	.tools-section {
		width: 90vw;
	}
	.portfolio-wrapper {
		margin-left: -5vw
	}
	.projects-container {
		width: 90vw;
	}
	.portfolio-title {
		padding-left: calc(5vw - 5px);
	}
	.contact-section {
		margin-left: -5vw;
	}
	.project-card h2 {
		font-size: 22pt;
	}
	.project-card h3 {
		font-size: 18pt;
	}
}



@media (max-width: 1030px) {
	.whisperas-sub {
		display: none;
	}
	.project-card h3 {
		font-size: 16pt;
	}
	.project-card h4 {
		font-size: 12pt;
	}
	.project-card p {
		font-size: 12pt;
	}
	.project-card ul li {
		font-size: 12pt;
	}
}

@media(max-width: 820px) {
	.card-img-cont {
		display: none;
	}
	.button-cont {
		position: relative;
	}
}
@media (max-width: 492px) {
	.header-title {
		width: 100px;
		display: flex;
		flex-flow: column nowrap;
		margin-top: 50px;
		font-size: 3rem;
	}
	.about-title {
		font-size: 2.75rem
	}
	.about-text {
		font-size: 1.5rem;
	}

}

@media (max-width: 424px) {
	.p-link {
		margin: 2px;
	}
	.card-hover ul {
		height: 110px;
	}
	.card-hover ul li {
		font-size: .8rem;
	}
	.contact-inner {
		margin-top: 20px;
	}
	.skill-list {
		flex-flow: column nowrap;
	}
}

@media (max-width: 410px) {
	.header-title {
		width: 50px;
		font-size: 2rem;
		margin-top: 20px;
	}
	.card-hover h2 {
		font-size: .8rem;
	}
	.card-hover ul {
		max-height: 100px;
	}
	.contact-input {
		width: 300px;
	}
	textarea {
		width: 312px;
	}
}


@media (max-width: 359px) {
	.header-title {
		font-size: 1.5rem;
		margin-top: 10px;
	}
	.about-title {
		padding-top: 10vh;
	}
	.skill-list {
		font-size: 1rem;
	}
	.contact-input {
		width: 260px;
	}
	textarea {
		width: 272px;
	}
	.email-text {
		font-size: 1.5rem;
	}
	.github-text {
		width: 70px;
	}
	.linkedin-text {
		width: 95px;
	}
} */

@media (prefers-color-scheme: dark) {
body {
	color: #ffffff;
	background-color: #101115;
}

.moz-btn {
	border: 2px solid #ffffff;
}
.moz-btn:hover {
	color: #ffffff;
	background-color: #101115;
	box-shadow: 4px 4px 0 0 #ffffff;
}
.moz-prim {
	color: #101115;
	background-color: #ffffff;
}
.moz-sec {
	background-color: #101115;
	color: #ffffff;
}
.moz-dark {
	background-color: #101115;
	color: #ffffff;
	border-color: #101115;
}
.moz-dark:hover {
	background-color: #ffffff;
	color: #101115;
	box-shadow: 4px 4px 0 0 #101115;
}

.tools-wrapper {
	background-color: #ffffff;
	color: #101115;
	border-left: 5px solid #ff5e5f;
}

contact-input, textarea {
	color: #101115;
}

.contact-input, textarea {
	background-color: #101115;
	color: #ffffff;
}

.contact-input:invalid, textarea:invalid, .contact-input:focus, textarea:focus {
	border-color: #ffffff;
	box-shadow: 4px 4px 0 0 #ffffff;
}

.submit-btn {
	color: #101115;
	background-color: #ffffff;
}
}