/****************** site-wide rules ******************/
html {
    scroll-behavior: smooth;
	width: 100vw;
	border-top: 5px solid #952bb9;
}

body {
    font-family: 'Inter var', sans-serif;
	font-weight: 400;
    width: 70vw;
    margin: auto;
    padding: 0;
    color: #101115;
    background-color: #ffffff;
}

h1 {
	font-size: 2rem;
	margin: 0;
	padding: 0;
}

h2 {
	font-family: 'Metropolis', monospace;
	font-size: 4rem;
    font-weight: 700;
    margin: 0;
	padding: 0;
}

.moz-btn {
	z-index: 200;
	text-decoration: none;
	border: 2px solid #101115;
	border-radius: 2px;
	transition: background-color 100ms, box-shadow 100ms, color 100ms, transform 100ms;
	transition-property: background-color, box-shadow, color, transform;
	transition-duration: 100ms, 100ms, 100ms, 100ms;
	transition-timing-function: ease, ease, ease, ease;
	transition-delay: 0s, 0s, 0s, 0s;
}

.moz-btn:hover {
	transform: translate(-2px, -2px);
	color: #101115;
	background-color: #ffffff;
	box-shadow: 4px 4px 0 0 #101115;
	cursor: pointer;
}

.moz-prim {
	position: fixed;
	top: 14px;
	right: 14vw;
	font-size: 14pt;
	padding: 6px 14px;
	color: #ffffff;
	background-color: #101115;
}

.moz-sec {
	display: inline-block;
	background-color: #fff;
	color: #101115;
	font-size: 16pt;
	padding: 14px 30px;
}

.moz-dark {
	background-color: #fff;
	color: #101115;
	border-color: #fff;
}

.moz-dark:hover {
	background-color: #101115;
	color: #fff;
	box-shadow: 4px 4px 0 0 #fff;
}



/**************** header ********************/
header {
	font-family: 'Metropolis', monospace;
	color: #101115;
    height: 60px;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}



/************* about section ************/
.about-section {
	height: calc(100vh - 95px);
}

.about-title {
	padding-top: 30vh;
}

.about-text {
	font-size: 1.7rem;
	font-weight: 300;
	margin-bottom: 80px;
}



/************* tools section *****************/
.tools-wrapper {
	width: calc(100vw - 5px);
	margin-left: -15vw;
	background-color: #101115;
	color: #ffffff;
	border-left: 5px solid #ff5e5f;
}

.tools-section {
	width: 70vw;
	min-height: 250px;
	margin: auto;
	padding: 20px 0;
}

.tools-title {
	font-weight: 600;
	padding-top: 20px;
}

.skill-list {
	list-style-type: none;
	font-weight: 300;
	font-size: 1.5rem;
	display: flex;
	flex-wrap: wrap;
	margin-left: -35px;
}

.skill-list li {
	white-space: nowrap;
	padding: 20px 35px;
}



/*************** projects section ************/
.portfolio-wrapper {
	padding: 6vh 0;
	width: calc(100vw - 5px);
	margin-left: -15vw;
	border-left: 5px solid #3fe1b0;
}

.portfolio-section {
	width: calc(100vw - 5px);
	margin: auto;
}

.portfolio-title {
	padding: 14px 0 5vh calc(15vw - 5px);
}

.projects-container {
    display: flex;
	flex-flow: column nowrap;
	align-items: center;
	width: 70vw;
	margin: auto;
}

.p-link {
	padding: 0;
	width: 700px;
	margin: 1px;
	position: relative;
}

.card-initial {
	height: 100%;
	width: 100%;
}

.card-hover {
	z-index: 101;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	user-select: none;
	display: flex;
	flex-flow: column nowrap;
	background-color: rgba(255, 255, 255, 1);
	transition-property: opacity;
	transition-timing-function: ease-out;
	transition-duration: 250ms;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.p-link:hover .card-hover {
	opacity: 1;
}

.card-hover ul {
	list-style-type: none;
}

.card-hover li {
	margin-top: 10px;
	font-size: 1.3rem;
}

.card-hover h2 {
	font-family: "Metropolis", sans-serif;
	font-weight: 500;
	text-align: center;
	color: #101115;
	font-size: 1.75rem;
	padding: 20px 0;
	border-bottom: 1px solid #3fe1b0;
}

.button-cont {
	display: flex;
	flex-flow: row nowrap;
	align-items: baseline;
	position: absolute;
	bottom: 10px;
	left: 0;
}

.link-project, .link-github {
	padding: 0;
	margin: 0;
}
.launch {
	width: 48px;
	height: 48px;
	margin: 0 40px;
	padding: 0;
}

.github-logo {
	height: 40px;
	margin: 0;
	padding: 5px;
}

.launch:hover, .github-logo:hover .a {
	fill: #3fe1b0;
}


/*************** contact section ***************/
.contact-wrapper {

}

#head-contact {
	padding-top: 20px;
	margin-left: 15vw;
}

.contact-section {
	min-height: calc(100vh - 5px);
	position: relative;
	border-bottom: 5px solid #39a0ed;
	border-right: 5px solid #39a0ed;
	width: calc(100vw - 5px);
	margin-left: -15vw;
}

.contact-inner {
	width: 100%;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	align-items: center;
	margin-top: 60px;
	/*height: 80vh;*/
}

.contact-links {
	min-height: 150px;
	padding-bottom: 40px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: center;
}

.github-text {
	width: 100px;
}

.linkedin-text {
	width: 140px;
	margin-bottom: -4px;
}

.email-text {
	text-decoration: none;
	color: #952bb9;
	font-family: "Metropolis", serif;
	font-size: 1.9rem;
	font-weight: 600;
}


#contact-form ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#contact-form li {
	margin: 40px 0;
}

#contact-form li:first-of-type {
	margin-top: 0;
}

label {
	font-weight: 600;
	font-size: 1.3rem;
	display: block;
}

.contact-input, textarea {
	font-family: "Inter var", sans-serif;
	font-weight: 400;
	color: #101115;
	border: 2px solid #3fe1b0;
	border-radius: 2px;
	display: block;
	transition: background-color 100ms, box-shadow 100ms, color 100ms, transform 100ms;
	transition-property: background-color, box-shadow, color, transform;
	transition-duration: 100ms, 100ms, 100ms, 100ms;
	transition-timing-function: ease, ease, ease, ease;
	transition-delay: 0s, 0s, 0s, 0s;
}

.contact-input {
	font-size: 16pt;
	padding: 14px 20px;
	width: 350px;
	margin-top: 6px;
}

textarea {
	width: 362px;
	height: 150px;
	padding: 14px;
	font-weight: 400;
	margin-top: 6px;
}

.email-input:not(:placeholder-shown):not(:focus):invalid {
	border-color: #ff5e5f;
	box-shadow: none;
	transform: none;
}

.contact-input:invalid, textarea:invalid, .contact-input:focus, textarea:focus {
	border-color: #101115;
	transform: translate(-2px, -2px);
	box-shadow: 4px 4px 0 0 #101115;
}

.submit-btn {
	color: #fff;
	font-family: "Inter var", sans-serif;
	font-weight: 600;
	font-size: 1.2rem;
	padding: 10px 20px;
	border: none;
	border-radius: 2px;
	background-color: #39a0ed;
}

.submit-btn:hover {
	background-color: #3fe1b0;
	cursor: pointer;
}



@media (min-width: 1292px) {
	.projects-container {
		flex-flow: row wrap;
	}

	.p-link {
		width: calc(35vw - 2px);
		height: calc(.59 * (35vw - 2px));
	}

	.card-hover h2 {
		/*padding: 14px 0;*/
		font-size: 1.6rem;
	}

	.card-hover li {
		margin-top: 5px;
		font-size: 1.2rem;
	}
}

@media (max-width: 1000px) {
	body {
		width: 90vw;
	}
	.tools-wrapper {
		margin-left: -5vw;
	}
	.tools-section {
		width: 90vw;
	}
	.portfolio-wrapper {
		margin-left: -5vw
	}
	.portfolio-title {
		padding-left: calc(5vw - 5px);
	}
	.contact-section {
		margin-left: -5vw;
	}
}

@media (max-width: 778px) {
	.p-link {
		width: 90vw;
	}
}

@media (max-width: 676px) {
	.card-hover h2 {
		font-size: 1.5rem;
	}
	.card-hover ul {
		max-height: 138px;
		display: flex;
		flex-flow: column wrap;
	}
	.card-hover ul li {
		font-size: 1rem;
	}
	.launch {
		width: 32px;
		height: 32px;
	}
	.github-logo {
		height: 26px;
		padding: 4px;
	}
}

@media(max-width: 530px) {
	.card-hover h2 {
		padding: 10px 0;
		font-size: 1.2rem;
	}
	.card-hover ul {
		margin-top: 0;
	}
}

@media (max-width: 492px) {
	.header-title {
		width: 100px;
		display: flex;
		flex-flow: column nowrap;
		margin-top: 50px;
		font-size: 3rem;
	}
	.about-title {
		font-size: 2.75rem
	}
	.about-text {
		font-size: 1.5rem;
	}

}

@media (max-width: 424px) {
	.p-link {
		margin: 2px;
	}
	.card-hover ul {
		height: 110px;
	}
	.card-hover ul li {
		font-size: .8rem;
	}
	.contact-inner {
		margin-top: 20px;
	}
	.skill-list {
		flex-flow: column nowrap;
	}
}

@media (max-width: 410px) {
	.header-title {
		width: 50px;
		font-size: 2rem;
		margin-top: 20px;
	}
	.card-hover h2 {
		font-size: .8rem;
	}
	.card-hover ul {
		max-height: 100px;
	}
	.contact-input {
		width: 300px;
	}
	textarea {
		width: 312px;
	}
}


@media (max-width: 359px) {
	.header-title {
		font-size: 1.5rem;
		margin-top: 10px;
	}
	.about-title {
		padding-top: 10vh;
	}
	.skill-list {
		font-size: 1rem;
	}
	.contact-input {
		width: 260px;
	}
	textarea {
		width: 272px;
	}
	.email-text {
		font-size: 1.5rem;
	}
	.github-text {
		width: 70px;
	}
	.linkedin-text {
		width: 95px;
	}
}